@import './vendors/normalize.css';
@import './vendors/typography.css';
@import './vendors/vars.css';

@import './components/header.css';
@import './components/slider.css';
@import './components/footer.css';
@import './components/modal.css';

@import './sections/top.css';
@import './sections/advantages.css';
@import './sections/about.css';
@import './sections/courses.css';
@import './sections/reviews.css';
@import './sections/gallery.css';
@import './sections/app.css';

body{
    background: rgba(217, 217, 217, 0.10);
}

.container{
    max-width: 1180px;
    padding: 0px 10px;
    margin: 0 auto;
}

*{
    font-family: 'Nunito';
}

.modal__button{
    width: 200px;
    height: 60px;
    background: var(--blue);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    border-radius: 42px;
    background: #001E5C;
    box-shadow: 3px 4px 15px 0px rgba(0, 30, 92, 0.60);
    cursor: pointer;
    transition: 0.4s;
}

.modal__button:hover{
    background: var(--red);
    box-shadow: 3px 4px 15px 0px rgba(153, 1, 26, 0.6);
}